html, body {
    background-color: $light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading, sans-serif;  
}

p, li, a {
    font-family: $font-reg, serif;
}

.bold {
    font-weight: bold;
}
