#home-body {
    @media (min-width: $mq-xl) {
        margin: 0;
        @include wrapper;
    }
}

#sub-heading-cont {
    color: $blue;
    font-weight: bold;
    width: 80vw;
    max-width: 1200px;
    margin: 70px auto 40px;
    border: 12px dashed $blue;
    padding: 0 15px;
    box-sizing: border-box;

    #lg-heading {
        font-size: 3.3rem;
    }

    #sub-heading,
    #sub-heading-text {
        opacity: 0;
        transition: opacity 1.3s ease;
    }

    #sub-heading {
        font-size: 2.3rem;
    }

    #sub-heading-text {
        text-align: left;
    }

    @media (min-width: $mq-lg) {
        display: flex;
        align-items: center;
        justify-content: space-around;

        #sub-heading {
            width: 300px;
            text-align: right;
        }

        #sub-heading-text {
            width: 60%;
            max-width: 800px;
        }
    }
}

#desc_cont {
    color: $d-green;
    position: relative;

    @media (min-width: $mq-xl) {
        display: flex;
        justify-content: space-evenly;
        width: 96%;
        margin: 40px auto 0;
        align-items: stretch;
    }

    .front_desc {
        padding: 60px 24px;
        perspective: 600px;
        transition: border .2s ease-in;
        height: 72vh;
        transform-style: preserve-3d;
        position: relative;
        background-size: cover;
        border-bottom: 4px $blue solid;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            mix-blend-mode: darken;
            z-index: -1;
        }

        @media (min-width: $mq-xl) {
            border: solid 4px $l-blue;
            padding: 0px;
            display: flex;
            flex-direction: column;
            flex-basis: 33%;
            margin: 40px 0;
            height: 100%;
            min-height: 550px;
            box-sizing: border-box;
        }

        &,
        p,
        p a {
            z-index: 2;
            color: $light;
            text-shadow: 0 0 6px black;
        }

        p {
            margin-top: 0;
            text-align: left;
            font-size: 1.3rem;
            font-weight: bold;
            max-width: 700px;
            margin: 0 auto;

            @media (min-width: $mq-sm) {
                padding: 30px;
            }
            @media (min-width: $mq-xl) {
                padding: 16px;
            }
        }

        a {
            font-family: $font-heading;
            text-decoration: underline;
            color: $blue;
        }

        &-heading {
            font-size: 2.7rem;
            text-align: center;
            text-decoration: underline;
            margin-top: 0;

            @media (min-width: $mq-xl) {
                margin: 30px auto 20px;
                text-decoration: none;
            }
        }

        &:hover {
            border: none;

            @media (min-width: $mq-xl) {
                border: solid 4px $blue;
            }
        }

        &:hover .icn_cont {
            transform: none;

            @media (min-width: $mq-xl) {
                transform: translateZ(38px);
            }
        }

        &:first-child,
        &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: $mq-xl) {

                p {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
        
        &:first-child {
            background-image: url('../../imgs/paint-cans.jpg');
            border-bottom: 4px $blue solid;
            border-top: 4px $blue solid;

            &::before {
                background-color: rgb(7, 96, 7);
                opacity: 0.5;
            }

            @media (min-width: $mq-xl) {
                box-shadow: -8px 8px 8px grey;
                margin: 40px 0px;
                border: solid 4px $l-blue;

                &:hover {
                    border: solid 4px $blue;
                }
            }
            
        }
        
        &:nth-child(2) {
            background-image: url('../../imgs/trees.jpg');

            &::before {
                background-color: rgba(92, 36, 135, 0.748);
                opacity: 0.85;
            }

            @media (min-width: $mq-xl) {
                box-shadow: 0px 8px 8px grey;
            }
        }

        &:last-child {
            background-image: url('../../imgs/house-front.jpg');
            background-position: 50% 80%;
            margin: 0 auto 40px;

            &::before {
                background-color: $blue;
                opacity: 0.7;
            }

            @media (min-width: $mq-xl) {
                box-shadow: 8px 8px 8px grey;
                margin: 40px 0px;
            }
        }
    }
}

#front_contact_cont {
    text-align: center;

    @media (min-width: $mq-xl) {
        margin-top: 50px;
        margin-bottom: 90px;
    }

    #h_cta {
        color: $d-green;
        max-width: 800px;

        @include cta;
        
        h2 {
            max-width: 900px;
            margin: 20px auto 28px;
        }

        a {
            background-color: $blue;
            padding: 4px 12px;
            border-radius: 15px;
            border: outset 4px lightgrey;
            font-family: $font-reg;
            font-weight: 700;
            color: $light;
            text-decoration: none;
        }
    }
}