#desc_cont {
    color: $d-green;

    @media (min-width: $mq-xl) {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        @include wrapper;
    }

    .front_desc {
        margin: 50px 0 80px;
        padding-bottom: 40px;
        border-bottom: 4px dashed $blue;

        &:hover i {
            transform: scale(1.1);
        }

        &:first-child:hover i {
            box-shadow: -4px 4px 4px grey;
        }
        &:nth-child(2):hover i {
            box-shadow: 0 4px 4px grey;
        }
        &:last-child:hover i {
            box-shadow: 4px 4px 4px grey;
        }

        @media (min-width: $mq-xl) {
            border: solid 4px $blue;
            padding: 0px;
            width: 400px;
            background-color: rgb(243, 243, 243);
            display: flex;
            flex-direction: column;
        }

        &:first-child {
            @media (min-width: $mq-xl) {
                box-shadow: -8px 8px 8px grey;
            }
        }
        
        &:nth-child(2) {
            @media (min-width: $mq-xl) {
                box-shadow: 0 8px 8px grey;
            }
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 40px;

            @media (min-width: $mq-xl) {
                border: solid 4px $blue;
                margin: 50px 0 80px;
                box-shadow: 8px 8px 8px grey;
            }
        }

        i {
            font-size: 150px;
            margin: 0 8px 4px;
            color: $l-green;
            transition: all .3s ease-out;

            @media (min-width: $mq-xl) {
                font-size: 130px;
                align-self: center;
                margin-top: 20px;
                padding: 8px;
                border: solid 2px lightgrey;
            }
        }

        &:nth-child(2n+1) > i {
            float: left;

            @media (min-width: $mq-sm) {
                padding-right: 24px;
            }
            @media (min-width: $mq-xl) {
                float: none;
                padding: 8px;
            }
        }
        &:nth-child(2n) > i {
            float: right;

            @media (min-width: $mq-sm) {
                padding-left: 24px;
            }
            @media (min-width: $mq-xl) {
                float: none;
                padding: 8px;
            }
        }

        h3 {
            margin: 0 6px;
            font-family: $font-reg;

            @media (min-width: $mq-sm) {
                padding: 30px;
            }
            @media (min-width: $mq-xl) {
                // border: solid 2px lightgrey;
            }
        }

        a {
            font-family: $font-heading;
            text-decoration: underline;
            color: $blue;
        }
    }

}