#front_page_main {
    color: $d-green;

    .front_desc {
        margin: 50px 0 80px;
        padding-bottom: 40px;
        border-bottom: 4px dashed $blue;

        &:last-child {
            border-bottom: none;
        }

        i {
            font-size: 150px;
            margin: 0 8px;
            color: $l-green;
        }

        &:nth-child(2n+1) > i {
            float: left;
        }
        &:nth-child(2n) > i {
            float: right;
        }

        h3 {
            margin: 0 6px;
        }

        a {
            font-family: $font-heading;
            text-decoration: underline;
            color: $blue;
        }
    }

}