.icn_cont {
    margin: -10px auto 24px;
    transition: none;
    height: 150px;
    width: 150px;
    border: solid 2px lightgrey;
    position: relative;
    background-color: $l-blue;

    @media (min-width: $mq-xl) {
        margin: 6px auto 20px;
        transition: all .3s ease-out;
    }

    @media (min-width: 1350px) {
      margin: 14px auto 40px;
  }
}

#C-cont {
    background: darkblue;
    position: relative;

    .stripe {
        height: 46%;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 27%;
    }
      
    .C {
        position: relative;
        top: 8.5px;
        left: 9.5px;
        width: 67.8px;
        height: 67.8px;
        border: 33.4px solid red;
        border-radius: 50%;
    }
      
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 49.7px;
        right: 3.75px;
        border-top: solid 25.9px transparent;
        border-bottom: solid 25.9px transparent;
        border-right: solid 71.6px white;
        z-index: 2;
    }
      
    .c {
        height: 72.9px;
        width: 72.9px;
        background-color: yellow;
        border-radius: 50%;
        position: relative;
        bottom: 94.8px;
        left: 39.5px;
        z-index: 3;
    }
}


