#testimonials_wrapper {

    @media (min-width: $mq-xl) {
        @include wrapper;
    }

    #testimonials_inner {
        max-width: 1100px;
        margin: 0 auto;
    }

    #testimonials_heading {
        color: $dark;
        margin: 92px auto 40px;
        width: fit-content;
        max-width: 86vw;

        @include heading_borders;

        @media (min-width: $mq-xl) {
            margin: 40px auto 70px;
            font-size: 3.3rem;
        }
    }

    img {
        width: 100vw;
        max-width: 580px;
        display: block;
        margin: 0 auto;

        @media (min-width: $mq-xl) {
            float: right;
            padding: 0 calc((80vw - 1100px) / 2) 20px 20px;
            // margin-right: auto;
        }
    }

    #test_quotations {
        margin: 40px 0 70px;
        max-width: 900px;

        @media (min-width: $mq-lg) {
            margin: 40px auto 70px;
        }

        blockquote {
            font-size: 1.2rem;
            margin-top: 35px;
            margin-bottom: 8px;

            @media (min-width: $mq-xl) {
                font-size: 1.3rem;
            }
        }

        p {
            text-align: center;
            margin-top: 0;
            font-weight: bold;
        }
    }
}