// +_+_+_+_+_+_+_+_+_+_+_+_+_+_+
// COLORS +_+_+_+_+_+_+_+_+_+_+_

$blue: #175676;
$d-green: #104F55;
$l-green: #32746D;
$light: rgb(246, 255, 243);
$dark: #503D3F;

// +_+_+_+_+_+_+_+_+_+_+_+_+_+_+
// FONTS +_+_+_+_+_+_+_+_+_+_+_+

$font-heading: 'Fira Sans';
$font-reg: 'Noto Serif';
